<section id="add">
  <form action="/" method="post">
    <textarea name="content" placeholder="Your task&hellip;"></textarea>
    <input type="submit" value="Write Task!">
  </form>
</section>
 
<% @tasks.each do |task| %>
  <article <%= 'class="complete"' if task.complete %>>
    <p>
      <%= task.content %>
      <span><a href="/<%= task.id %>">[edit]</a></span>
    </p>
    <p class="links">
      <a href="/<%= task.id %>/complete">&#8623;</a>
    </p>
  </article>
<% end %>