<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link href="/reset.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="vendor/knockout-3.2.0.min.js"></script>
		<script src="vendor/falcon.min.js"></script>

		<script src="js/models/todo.js"></script>
		<script src="js/views/todo.js"></script>
	</head>
	
	<body>
	
		<header>
			<h1><a href='/'>To Do List!</a></h1>
		</header>
		
		<div id="main">
			<%= yield %>
		</div>
		
		<footer>
			<p><small>Made by Lyzzi</small></p>
		</footer>
		
	</body>
	
</html>